body{
    height: 100vh;
    margin: 0;
    text-align: center;
    position: relative;
}

.wrapper{
    position: absolute;
    display: inline-block;
    text-align: justify;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

p{
    margin: 3px;
}

.title{
    font-weight: bold;
    font-size: 20px;
}

.sub-title{
    color: green;
    font-weight: bold;
}

img{
    border-radius: 10%;
}